<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{HH:mm:ss.SSS}}{cyan} %highlight{%-5level}{FATAL=bg_red, ERROR=bg_red, WARN=bg_yellow, INFO=bg_green, DEBUG=bg_blue, TRACE=bg_black} %highlight{%logger{36}}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=black} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>